<!--The content below is only a placeholder and can be replaced.-->

<div class="form-group">
  <div class="col-sm-4">
    <app-input
      [numberData]="firstNumber"
      [variable]="firstNumberPlaceholder"
      (inputEvent)="onFirstInputEvent($event)">
    </app-input>
    <hr>

    <app-input
      [numberData]="secondNumber"
      [variable]="secondNumberPlaceholder"
      (inputEvent)="onSecondInputEvent($event)">
    </app-input>
    <hr>

    <div class="col-sm-6">
      <button
        class="btn btn-primary"
        (click)="onCalculateButtonClick()">Calculate</button>
    </div>
    <div class="col-sm-5">
      <div class="lead">{{result}}</div>
    </div>
  </div>

</div>
